html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}

div{
	width: 500px;
	margin: 50px auto;
	text-align: center;
}

img{
	width: 500px;
	height: 300px;
	margin-bottom: 10px;
}